{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <h2>Message {{ message.id }} detail:</h2>
                <li class="list-group-item">Title: {{ message.title }}</li>
                <li class="list-group-item">Body: {{ message.body }}</li>
                <li class="list-group-item">Date published: {{ message.date }}</li>
                <li class="list-group-item list-group-item-action list-group-item-dark">Tags:</li>
                <br>
                <ul class="list-group" style="margin-left: 80px;"></ul>
                {% for tag in message.tags.all %}
                    <li class="list-group-item" style="margin-left: 80px;">{{ tag.title }}</li>
                {% endfor %}
                </ul>
                <br>
                <li class="list-group-item list-group-item-action list-group-item-dark">Comments:</li>
                <br>
                <ul class="list-group" ></ul>
                {% for comment in message.comments.all %}
                    <li class="list-group-item" style="margin-left: 80px;">{{ comment.title }}</li>
                    <li class="list-group-item" style="margin-left: 80px;">{{ comment.date_add }}</li>
                    <br>
                {% endfor %}
                </ul>
            </ul>
        </div>
    </div>
</div>
{% endblock %}